<h2>Forgot your password?</h2>
<div class="form">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="pass-reset-form">  
      <div class="field">
        <%= f.label :email, "email:" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Reset password", class: "btn btn-outline-secondary" %>
      </div>
    <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>